# === Python ===
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# === VSCode ===
.vscode/

# === Datasets / imágenes (NO subir) ===
Images/
Printed/
Processed/
outputs/

# === Modelos entrenados (NO subir) ===
Models/*.pt
Models/*.pth
Models/*.onnx

# === Basura de sistema ===
.DS_Store
Thumbs.db
